html {
  background-color: #3FBF3F;
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Caveat', cursive;
}
img {
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 60px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 10px black;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h3 {
  font-size: 20px;
  text-align: center;
}
h4 {
  font-size: 20px;
  text-align: center;
}
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}